---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";
@font-face {
  font-family: 'MetropolisBold';
  src: url('Metropolis/EOT/Metropolis-Bold.eot'); /* IE9 Compat Modes */
  src: url('Metropolis/EOT/Metropolis-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('Metropolis/WOFF2/Metropolis-Bold.woff2') format('woff2'), /* Super Modern Browsers */
       url('Metropolis/WOFF/Metropolis-Bold.woff') format('woff'), /* Pretty Modern Browsers */
}

@font-face {
  font-family: 'MetropolisExtraBoldItalic';
  src: url('Metropolis/EOT/Metropolis-ExtraBoldItalic.eot'); /* IE9 Compat Modes */
  src: url('Metropolis/EOT/Metropolis-ExtraBoldItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('Metropolis/WOFF2/Metropolis-ExtraBoldItalic.woff2') format('woff2'), /* Super Modern Browsers */
       url('Metropolis/WOFF/Metropolis-ExtraBoldItalic.woff') format('woff'), /* Pretty Modern Browsers */
}

// Our variables
$base-font-family: Helvetica, Arial, sans-serif;
$base-font-size:   16px;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

$text-color:       #111;
$background-color: #fdfdfd;
$brand-color:      #2a7ae2;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

// Width of the content area
$content-width:    960px;
$on-palm:          600px;
$on-laptop:        800px;

.project-title {
  padding-left: 35px;
}
.project img {
  width: 200px;
}


@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}
// Import partials from `sass_dir` (defaults to `_sass`)
@import 'base', 'layout', 'syntax-highlighting';


@import url(http://fonts.googleapis.com/css?family=Karla:400,700,400italic,700italic);
@import url('https://fonts.googleapis.com/css?family=EB+Garamond|Gentium+Basic|Old+Standard+TT|Suez+One|Vidaloka|Vampiro+One|Alegreya|Arya|Poppins');

.navbar-default {
  background-color: #fafafa;
  border-color: #fafafa;
  height: 88px;
}

.navbar-nav {
  margin-top: -55px;
  font-family: 'Karla', sans-serif;
}

.navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand {
  margin-top: 15px;
}

.wrapper {
  margin-top: 34px;
}

/* Sticky footer styles */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
  font-family: 'Karla', sans-serif;
  line-height: 1.4;
  background-color: white;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 130px;
  background-color: #fafafa;
  padding-top: 45px;
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

body > .container {
  padding: 60px 15px 0;
}
.container .text-muted {
  margin: 20px 0;
}

.navbar-brand {
  padding-top: 0px;
}

.button {
  border: 2px solid black;
  color: black;
}

.button:hover {
  background-color: black;
  color: white;
}

#name {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Karla', sans-serif;
  letter-spacing: 3px
}

#name h1 {
  margin-left: -60px;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
  text-align: center;
}

.fa-heart {
  color: tomato;
}

code {
  font-size: 80%;
}

.right {
  float: right;
}

.inner {
  max-width: 1024px;
  margin: 0 auto;
  padding-top: 60px;
}

.message {
  background:gray;
  color:#FFF;
  position: absolute;
  top: -280px;
  left: 0;
  width: 100%;
  padding: 20px;
  transition: top 300ms cubic-bezier(0.17, 0.04, 0.03, 1.94);
  overflow: hidden;
  box-sizing: border-box;
}

.message h1 {
  color: black;
}

#toggle {
  position:relative;
  appearance:none;
  cursor:pointer;
  left:-100%;
  top:-100%;
}

#toggle + label {
  position:absolute;
  right: 0px;
  cursor:pointer;
  background: #bda43c;
  width: 40px;
  height: 40px;
  border-radius: 100px;
  color: white;
  line-height:39px;
  font-size:24px;
  text-align:center;
  -webkit-font-smoothing: antialiased;
  cursor: pointer;
  margin: 15px 30px;
  transition:all 500ms ease;
}
#toggle + label:after {
  content:"+"
}

#toggle:checked ~ .message {
  top: 0;
}

#toggle:checked + label {
  background: #ddb4aa;
  z-index: 9999;
}

#toggle:checked + label:after {
  content:"+"
}

.message > ul {
  margin-top: 60px;
  list-style: none;
}

.message > ul > li {
  width: 100%;
  background-color: white;
  margin-left: -20px;
  padding: 1px 0px 10px 0px;
  text-align: center;
  margin-bottom: 15px;
}

.message > ul > li > a:hover {
  color: yellow;
}

/*FRONT PAGE PROJECTS*/

h1, h2, h3, h4, h5 {
  line-height: 1.4;
}

p {
  line-height: 1.7;
}

.row {
  margin-left: 0;
  margin-right: 0;
}

.section {
  height: 700px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.p1 {
  background-color: #efbecf;
}

.p2 {
  background-image: url('../images/sunset-1@2x.png');
}

.p3 {
  background-color: #fafafa;
}

.p4 {
  background-color: #bfd3ff;
}

.p5 {
  background-image: url('../images/sunset-2@2x.png');
}

.p6 {
  background-color: #ffe2e2;
}

.p7 {
  background-image: url('../images/sunset-3@2x.png');
}

.placard {
  font-family: 'Poppins';
}

.p1 .placard {
  font-family: acumin-pro, sans-serif;
  font-weight: 900;
  font-style: italic;
  font-size: 180pt;
  color: white;
}

.p2 .placard {
  background-color: transparent;
  border: none;
}

.p2 a {
  color: black;
  font-size: 80pt;
  font-weight: 700;
}

.quote {
  font-family: 'Arya', sans-serif;
  font-size: 13pt;
  letter-spacing: 2px;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px 25px 0px 25px;
  margin-bottom: -20px;
}

.author {
  font-family: 'Karla', sans-serif;
  padding-top: 0px;
}

.p3 .placard {
  border: none;
  background-color: transparent;
}

.p3 a {
  color: #efbecf;
  font-size: 70pt;
  letter-spacing: 4px;
}

.p4 .placard {
  font-family: 'MetropolisExtraBoldItalic', 'Poppins', sans-serif;
  font-style: italic;
  font-weight: 900;
  color: white;
}

.p4 a {
  font-size: 100pt;
}

.p5 .placard {  
  font-family: 'Poppins', sans-serif;
  letter-spacing: 0px;
  background-color: white;
  text-align: center;
  line-height: 24pt;
  height: 240px;
  width: 500px;
  align-items: center;
  justify-content: center;
  border: 10px solid black;
  font-size: 20pt;
  color: black;
  }

.p6 .placard {
  color: white;
  width: 500px;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.p6 a {
  font-family: 'MetropolisBold', 'Poppins', sans-serif;
  font-size: 55pt;
  font-weight: bold;
}

.p7 a {
  font-size: 120pt;
}

.row .section .p7 {
  height: 800px;
}

.p7 .placard {
  font-family: acumin-pro, sans-serif;
  font-weight: 900;
  font-style: italic;
  color: black;
  height: 300px;
}

.placard.plac5:hover {
  border: 10px solid white;
}

a.placard {
  text-decoration: none;
}

a.placard:visited {
  color: black;
}

a.plac1:visited, a.plac4:visited, a.plac6:visited {
  color: white;
}

a.plac3:visited {
  color: #efbecf;
}

a.placard:hover {
  color: black;
}

a.plac7:hover, a.plac2:hover {
  color: white;
}

.tags {
  color: gray;
}

.button-link {
  border: 2px solid black;
  padding: 6px 12px;
  text-decoration: none;
  color: black;
  display: inline-block;
  cursor: pointer;
  -webkit-user-select: none;
  border-radius: 4px;
  text-align: center;
  width: 130px;
}

.button-link:hover {
  text-decoration: none;
  color: white;
  background-color: black;
  -webkit-transition: background .5s, color .5s;
}

.resume {
  height: 350px;
  width: 100%;
  background-color: gray;
  text-align: center;
}

.resume .button {
  margin-top: 100px;
}

.social-media ul {
  margin-left: -35px;
}

.social-media li {
  list-style: none;
  display: inline;
  padding: 10px;
}

.social-media li a {
  color: Gray;
  transition: color .5s;
  -webkit-transition: color .5s;
  -moz-transition: color .5s;
}

.social-media li a:hover {
  color: #ffe2e2;
}

/* Resume animated text */

/* Main styles */
.text {
  fill: none;
  stroke-width: 6;
  stroke-linejoin: round;
  stroke-dasharray: 70 330;
  stroke-dashoffset: 0;
  -webkit-animation: stroke 6s infinite linear;
  animation: stroke 6s infinite linear;
}

.text:nth-child(5n + 1) {
  stroke: #FA8072;
  -webkit-animation-delay: -1.2s;
  animation-delay: -1.2s;
}
.text:nth-child(5n + 2) {
  stroke: #FDAA91;
  -webkit-animation-delay: -2.4s;
  animation-delay: -2.4s;
}

.text:nth-child(5n + 3) {
  stroke: #959EDB;
  -webkit-animation-delay: -3.6s;
  animation-delay: -3.6s;
}

.text:nth-child(5n + 4) {
  stroke: yellow;
  -webkit-animation-delay: -4.8s;
  animation-delay: -4.8s;
}

.text:nth-child(5n + 5) {
  stroke: white;
  -webkit-animation-delay: -6s;
  animation-delay: -6s;
}

@-webkit-keyframes stroke {
  100% {
    stroke-dashoffset: -400;
  }
}

@keyframes stroke {
  100% {
    stroke-dashoffset: -400;
  }
}

.res-animate {
  background: gray;
  text-align: center;
  height: 400px;
  width: 100%;
  background-size: .2em 100%;
  font: 24.5em/1 Karla, Impact;
  text-transform: uppercase;
  margin: 0;
  -webkit-transition:width 2s, height 2s, background-color 2s, -webkit-transform 2s;
  transition:width 2s, height 2s, background-color 2s, transform 2s;
}

.res-animate > a {
  text-decoration: none;
}

.res-animate:hover {
  background: gold;
}

svg {
  position: relative;
  margin: 0 auto;
  width: 400px;
  height: 300px;
}

/* PROJECT PAGE TEMPLATE */

.project-page {
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  margin-bottom: 200px;
}

.project-nav {
  padding-top: 80px;
}

.project-page img {
  display: block;
  margin: 0 auto;
  max-width: 600px;
  height: 100%;
  width: 100%;
}

.row.project-header {
  margin: 40px 0px;
}

.project-header img {
  width: auto;
}

.project-description {
  margin-top: 50px;
}

.project-text {
  font-size: 24px;
  text-align: left;
  padding: 40px 0px;
  display: inline-block;
}

.project-list {
  font-size: 24px;
  color: gray;
  max-width: 700px;
  line-height: 1.6;
}

.project-descr-subheader {
  font-weight: bold;
}

.next, .back {
  color: gray;
  border: 2px solid gray;
}

.next:hover, .back:hover {
  background-color: gray;
}

.next {
  float: right;
}

.inner-md-content {
  max-width: 700px;
  margin: 0 auto;
  padding: 15px;
}

.pull-quote {
  padding: 0px;
}

/* About */
img.about {
  height: 150px;
  width: auto;
  border-radius: 50%;
  display: block;
  margin: 0 auto;
}

.about-text {
  text-align: center;
  max-width: 400px;
  padding-top: 20px;
}

#about {
  padding-top: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.job-title {
  text-align: center;
  letter-spacing: 0.3em;
  font-weight: 700;
  font-size: 12px;
  text-transform: uppercase;
  padding-top: 40px;
  margin-bottom: 0px;
}


/* Resume */

 #resume {
  background-color: #efbecf;
  height: auto;
  font-size: 19px;
  line-height: 30px;
  margin-bottom: 160px;
  padding: 40px 0 40px 0;
}

#resume .inner {
  max-width: 700px;
  padding: 15px;
}

.section-tagline {
  letter-spacing: 0.3em;
  font-weight: 700;
  padding-bottom: 20px;
  margin-bottom: 40px;
  border-bottom: 1px solid white;
  font-size: 11px;
  text-transform: uppercase;
}

img.icon {
  width: 65px;
  height: 65px;
  border-radius: 50%;
  float: left;
  display: block;
  margin-left: -95px;
  margin-top: 5px;
  background-color: white;
  opacity: 0.8;
  z-index: 0;
  -webkit-filter: grayscale(100%);
  -webkit-transition: all .4s ease;
}

a img {
  border: none;
}

img.icon:hover {
  filter: grayscale(0%);
  -webkit-filter: grayscale(0%);
  filter: none;
}

.resume-description {
  font-size: 18px;
}

.skill {
  border: 1px solid white;
  margin-right: 10px;
  text-transform: uppercase;
  font-weight: 500;
  width: auto;
  display: inline-block;
  font-size: 11px;
  line-height: 1.3333em;
  padding: 7px 18px;
  margin-top: 0.8em;
  border-radius: 8px;
}


/* Media Queries */
@media screen and (max-width: 991px) {
  body {
    margin-bottom: 0px;
  }
  .placard {
    font-size: 52pt;
  }
  .p1 .placard {
    font-size: 120pt;
  }
  .p2 .placard {
    font-size: 50pt;
  }
  .p4 a{
    font-size: 70pt;
  }
  .quote {
    font-size: 11pt;
    letter-spacing: 2px;
    margin-bottom: -10px;
  }
  .project-description {
    max-width: 700px;
    margin: 0 auto;
    float: none;
    text-align: center;
  }
  .project-description > h1, h4 {
    text-align: center;
  }
  .project-header img {
    max-width: 50%;
  }
  .row.project-header {
    margin: 0px;
  }
  .next, .back {
    margin: 0px 15px 50px 15px;
  }
  .last {
    padding: 0;
  }
  .res-animate{
    height: 300px;
  }
  #resume {
    margin-bottom: 0;
  }
  #about, .inner {
    margin-bottom: 0;
  }
}

@media screen and (max-width: 767px) {
  #name {
    font-size: 20px;
    margin-top: -27px;
    letter-spacing: 1px;
    h1 {
    }
  }
  .navbar-brand img {
    margin-top: -15px;
    margin-left: 10px;
  }
  .message {
    top: -296px;
  }
  .placard {
    font-size: 40pt;
  }
  .p1 .placard {
    font-size: 80pt;
    width: 260px;
  }
  .p2 a {
    font-size: 14pt;
  }
  .p3 a {
    font-size: 30pt;
    letter-spacing: 4px;
  }
  .p4 a, .p6 a {
    font-size: 40pt;
  }
  .p7 a {
  font-size: 70pt;
  }
}

h1 {
  font-size:30px;
  font-weight:bold;
  color:#191919;
  -webkit-font-smoothing: antialiased;
}

h2 {
  font-weight:normal;
  font-size:20px;
  color: white;
  padding:5px 0;
}
