@charset "UTF-8";
/* CSS Document */

@import url(http://fonts.googleapis.com/css?family=Signika:400,300,600);


body {
	padding: 0px 0 0 0;
	margin: 0 auto ;
	text-align: center;	
	font-family: 'Signika', Helvetica, sans-serif;
}	
	
/* Header */
#headerwrapper {
	width: 100%;
	margin: 25px;
	top: 0; left: 0; right: 0;
	text-align: center;
	z-index: 9998;
	position: fixed;
}

#header {
	height: 140px;
	max-width: 1010px;
	margin: 0 auto;
	top: 0; left: 0;
	text-align: center;
	background-image:url('images/head.png');
	background-position: left center;
	background-color: none;
	background-repeat: no-repeat;
}
	
.headerlinks {
  margin-right: 50px;
}

.social {
    height: 40px; 
		width:40px;
		background-position: center;
		background-color:none;
		background-repeat: no-repeat;
		float: right;
		margin: 47px 10px 0px 0px;
		position: relative;	
			-webkit-transition: all 0.2s ease-in-out;
			-moz-transition: all 0.2s ease-in-out;
			-o-transition: all 0.2s ease-in-out;
			-ms-transition: all 0.2s ease-in-out;
			transition: all 0.2s ease-in-out;
}

#tumblr {
		background-image:url('images/tumblrlink.png');
		}
		
#tumblr:hover {	
		background-image:url('images/tumblrh.png');
				}	

#dribbble {
		background-image:url('images/dribbblelink.png');
		}
		
#dribbble:hover {	
		background-image:url('images/dribbbleh.png');
				}	

#twitter {
		background-image:url('images/twitterlink.png');
		}
		
#twitter:hover {	
		background-image:url('images/twitterh.png');
				}	
				
#instagram {
		background-image:url('images/instalink.png');
		}
		
#instagram:hover {	
		background-image:url('images/instah.png');
				}	
				
#work {
		background-image:url('images/worklink.png');
		}
		
#work:hover {	
		background-image:url('images/workh.png');
				}						

/* Section Styling */

.text {
  color: #939296;
  text-align: center;
  font-size: 1.2em;
  line-height: 1.5em;
}

.section {
  width: 300px;
  margin-left: auto;
  margin-right: auto;
}

a {
  text-decoration: none;
  color: #939296;
}

a:hover {
  color: #ffdfc7;
}

/* Intro */
#intro {
  height: 575px;
  padding: 0px;
	padding-top: 220px;
}

#intropic {
  margin-bottom: 40px;
  margin-top: 25px;
}

#intro img {
  max-width: 325px;
	width: 38%;
	min-width: 200px;
  height: auto;
	max-height: auto;
	 }

ul {
  padding-top: 35px;
  list-style-position: inside;
  margin-left: -50px;
  list-style-type: none;
  font-size: 1.2em;
  line-height: 1.5em;
}

/* Stemmings */

#stemmings {
  padding-top: 150px;
}

/* Contact */
#contact {    
	width: 100%; 
	padding-top:100px; 
	padding-bottom:15px;
	line-height: 41px;	
	}
		
#content {max-width:100%; padding-top:0; margin:auto; position: relative; margin-top:-50px;
      z-index: 1;
      }

#contactpic {
  padding: 20px;
}
	
#atticus {
 padding-top: 75px; 
}

#contactpic:hover {
/*   background-image:url('images/atticus_inverted.png'); */
}
	
/* Footer */

#footer {   
	height:50px;
	text-align: left;
	margin: 0 auto;
	font-style: normal;
	font-weight: 600;
	font-size: 15px;
	}


#legal {	
	float: right;
	margin-right: 30px;
	background: none;
	color: #bdc0c2;
	font-size: 14px;
	}
	
/* Body Border */

#top, #bottom, #left, #right {
  background: #2cffd7;
  position: fixed;
  z-index: 9999;
  }
  #left, #right {
    top: 0; bottom: 0;
    width: 15px;
    }
    #left { left: 0; }
    #right { right: 0; }
  
  #top, #bottom {
    left: 0; right: 0;
    height: 15px;
    }
    #top { top: 0; }
    #bottom { bottom: 0; }
		
		
		/* Media queries
		-------------------------------------------------------------------------------*/

	
		/* Body Border */
		@media 
      /* Fairly small screens including iphones */
      only screen and (max-width: 500px),
      
      /* iPads */
      only screen and (min-device-width: 768px) and (max-device-width: 1024px) 
      
      {
      	#top, #bottom, #left, #right { display: none; }
      }

		
		/* Tablet */
		@media only screen and (min-width: 768px) and (max-width: 1023px) {
			
			 }
			
		/* Mobile */
				@media only screen and (max-width: 767px) {
					
					#header {
						height:400px;
						background-image:url('head-mobile.png');
						background-position: center;
						background-color:none;
						background-repeat: no-repeat; 
						}
						
						#headerwrapper {
							width: 100%;
							margin: 0 auto;
							text-align: center;
							z-index: 9998;
							position: relative; 
							 }						
					
						#intro {
							height: 300px;
							}	
														
										.contact a:hover {							
										color:#b23e3b;
										text-decoration: none;	
										}				

    								.contacttitle 	{
                    font-size: 20px;
                    letter-spacing:10px;
                    margin: 90px 0 90px 0;	}
							
							#footer {
									width:640px;
									height:50px;
									text-align: center;
									margin: 0 90px 0 0;
									color:#464c50;
									font-size: 18px;
								}	

#legal {	
display:none;
	}
					 }	
		