{% extends "base.html" %}

{% block content %}

<!-- page content -->
  <div class="wrapper" id="about">
    <div class="row col-md-12">
      <img class="about" src="{{url_for('static', filename='images/ainsley_nm.png')}}" alt="Ainsley in New Mexico">
      <p class="inner about-text">I have always loved
        color and balancing things visually. As a kid, I
        obsessed over the perfect pairing of pink & green and arranged M&Ms
        in rainbow order. Since first meeting Adobe Illustrator in 2008,
        I’ve been making vector graphics and figuring out how to put them on the internet.        <br>
        <br>
        I got my undergrad degree in Architecture and had the chance to explore product
        design, play with arduinos, and give a lecture about haptic installations.
        I wanted to design brighter, iterate faster, and have more control over
        the final product so I gravitated toward designing digital products on the web.
        <br>
        <br>
        With particular experience working on small teams, I love shaping the
        visual direction of the design as well as the details of its implementation.
        Last year I was a Code for America fellow working with Puerto
        Rico and spent my year designing an application that (beautifully)
        matches small business owners with available government incentives.
        I am currently the Product Designer at Yo.
        <br>
        <br>
        If you'd like to get in touch about working together, please do!
        <br>
        I totally read my emails.
        ainsley . wagoner @ gmail . com
      </p>
    </div>
  </div>

{% endblock%}
