
  <footer class="footer">
    <div class="container">
      <div class="social-media">
        <ul>
          <li><a href="https://twitter.com/ainsleywagon"><i class="fa fa-twitter fa-3x"></i></a></li>
          <li><a href="https://instagram.com/ainsleywagon"><i class="fa fa-instagram fa-3x"></i></a></li>
          <li><a href="https://dribbble.com/ainsleywagon"><i class="fa fa-dribbble fa-3x"></i></a></li>
          <li><a href="https://www.linkedin.com/pub/ainsley-wagoner/37/883/947"><i class="fa fa-linkedin fa-3x"></i></a></li>
          <li><a href="https://github.com/ainsleywagon"><i class="fa fa-github fa-3x"></i></a></li>
        </ul>
      </div>
      <p class="text-muted">made with <i class="fa fa-heart faa-pulse animated"></i> Ainsley Wagoner</p>
    </div>
  </footer>
