{% extends "base.html" %}

{% block content %}

<div class="wrapper project-page">
  <div class="row project-nav">
    <a class="button-link back" href="makemecoffee">back</a>
    <a class="button-link next" href="civchoice">next</a>
  </div>
  <div class="row project-header">
    <div class="col-md-7">
      <img src="{{url_for('static', filename='images/PrimerPeso_Monitor.png')}}" alt="PrimerPeso Monitor" style="max-width: 460px;">
    </div>
    <div class="col-md-5 project-description">
      <h1>UX & Visual Interaction at Code for America</h1>
      <h4 class="project-descr-subheader">Connecting small businesses in Puerto Rico with the incentives for economic growth.</h4>
      <p>
        We conducted over 80 hours of user interviews and
        found that there was a surplus of incentive programs for
        small businesses that the small business owners didn’t know about.</p>
      <h5 class="project-descr-subheader">Timeline: 10 months</h5>
      <h5 class="project-descr-subheader">Team: Research, Engineer, Product Designer (me!)</h5>

    </div>
  </div>

  <div class="inner-md-content">
    <img src="{{url_for('static', filename='images/problemstmt+whiteboard.png')}}" alt="sketching at the whiteboard">
    <img src="{{url_for('static', filename='images/sketches+persona.png')}}" alt="sketches and persona development">
    <h2 class="pull-quote">Connecting citizens and government</h2>
    <p class="project-text"><a href="http://www.primerpeso.com/">PrimerPeso</a> is an application that guides business
      owners through <a href="http://www.primerpeso.com/preguntas">10 questions</a>
      to receive filtered results of incentive
      programs they are eligible for. I designed the user experience and was
      responsible for the look and feel of our product including how we
      communicated our progress to our partners and stakeholders.
      <br>
      <br>
      In Puerto Rico, many citizens had had unpleasant interactions with government
      websites so I had the challenge of presenting them with something that
      looked official and trustworthy but was beautiful and pleasant to use.
    </p>
    <img src="{{url_for('static', filename='images/primerpeso_landing_finaltouchup.png')}}">
    <br>
    <br>
    <img src="{{url_for('static', filename='images/wizard+results.png')}}">
    <br>
    <br>
    <h2 class="pull-quote">Building a fresh experience with government technology</h2>
    <p class="project-text">My main concern was that we developed something that
      served the small business owner and solved their problems of searching for
      funding. My second concern was that they had a pleasant experience on
      the website. Most citizens’ connotation of  the design of government websites
      was very bad, so it was important to use non-government-y colors and
      illustrate financial concepts in a delightful way.
      <br>
      <br>
      In order to pull this off I fully owned the CSS (LESS) and style of the
      application. I worked closely with my engineer teammate to learn the information
      architecture of a node.js application and execute the front-end styling
      of our application. I also learned to read and write Jade.
      <br>
      <br>
      I sharpened my visual design skills as well as my coding skills. I did a
      lot of illustration to communicate the types of incentives they would
      find on the site. I loved translating abstract concepts into something beautiful.
    </p>
    <img src="{{url_for('static', filename='images/icons.png')}}">
      <br>
      <br>
    <h2 class="pull-quote">User Testing</h2>
    <p class="project-text">One of the most rewarding parts of developing this
      product was conducting user testing. Validating (or not!) our assumptions
      along the way made our product strong from the very beginning and kept
      my design priorities clear and intentional.
      <br>
      <br>
      In user testing - through the use of different colors, custom illustrated
      icons, and intuitive user interactions - the user’s attitude completely
      changed. They forgot their built-up biases and enjoyed clicking through
      and receiving easy-to-read information. They were empowered and confident
      about making the decision to apply for these incentives.
    </p>
      <br>
      <br>
    <img src="{{url_for('static', filename='images/prototypes.png')}}">
    <img src="{{url_for('static', filename='images/user_testing.png')}}">
      <br>
      <br>
    <p class="project-text">By opening up this knowledge and designing a great
      user experience, small business owners are better equipped to find the
      resources they need to grow their own operations as well as fueling the larger economy.
    </p>
    <img src="{{url_for('static', filename='images/landingpagedevelopment.png')}}">
    <h2 class="pull-quote">Learnings, Growth, and Tools</h2>
    <p class="project-text">Having so much responsibility on this project was
      incredible, and exactly what I wanted from my Code for America Fellowship
      experience. I was able to sketch something, mock it up, make the illustrations,
      and then code the real thing and have it up and running within a week.
      <br>
      <br>
      Tools I used on this application were: Lots of notebooks and sketchbooks,
      Sketch, Webflow for prototyping, Illustrator for graphics, Atom text editor
      for coding, LESS, and Node.js
      <br>
      <br>
      We took great care to document our process along the way.
      You can read more in our team blog <a href="http://coquicoders.org/">here</a>
      and check out our <a href="http://chronicles.coquicoders.org/">year-end report</a>.
    </p>
  </div>

  <div class="row project-nav last">
    <a class="button-link back" href="makemecoffee">back</a>
    <a class="button-link next" href="civchoice">next</a>
  </div>
</div>

{% endblock %}
