{% extends "base.html" %}

{% block content %}

<!-- page content -->
  <div class="wrapper" id="resume">
    <div class="inner">
      <h1>Résumé</h1>
      <h2>Ainsley Wagoner - Product Designer</h2>
      <p class="section-tagline">Recent Experience</p>
      <!-- Recent Experience: Product Designer -->
      <p>
        <a target="_blank" href="http://justyo.co">
          <img class="icon" src="{{url_for('static', filename='images/logos/Yo.png')}}">
        </a>
        <b>Yo</b>
        <span class="right"><i>2015 - present</i></span>
        <br>
        <b>Product Design, Visual Interaction, User Experience</b>
        <span class="right"><i>San Francisco, CA</i></span>
        <br>
        <br>
        <p class="resume-description">As Yo's first Product Designer, I have
          looked holistically at the strengths and weaknesses of the current
          user experience and expanded the stylistic language of the existing
          user interface. I conducted a full re-design of the app, focusing
          particularly on retaining new users in the onboarding experience.
        </p>
        <br>
        <span class="skill">HTML</span>
        <span class="skill">CSS</span>
        <span class="skill">Adobe Illustrator</span>
        <span class="skill">Sketch</span>
        <span class="skill">WebFlow</span>
        <span class="skill">User Research</span>
        <span class="skill">User Testing</span>
      </p>
      <br>
      <!-- Recent Experience: Contract Designer -->
      <p>
        <a target="_blank" href="http://ainsleywagoner.com">
          <img class="icon" src="{{url_for('static', filename='images/logos/icecreamhand.png')}}">
        </a>
        <b>Contract Designer</b>
        <span class="right"><i>2014 - 2015</i></span>
        <br>
        <b>UX, Visual Interaction and Communication Design</b>
        <span class="right"><i>San Francisco, CA</i></span>
        <br>
        <br>
        <p class="resume-description">Clients included IDEO.org, Heavybit
          Industries, and Camperoo. I created pixel-perfect interaction mock-ups,
          visual assets (custom icons and background textures,) style guides,
          and worked with front-end engineers on implementation of the design.
        </p>
        <br>
        <span class="skill">HTML</span>
        <span class="skill">CSS</span>
        <span class="skill">Adobe Illustrator</span>
        <span class="skill">Sketch</span>
        <span class="skill">WebFlow</span>
        <span class="skill">User Research</span>
        <span class="skill">User Testing</span>
      </p>
      <br>
      <!-- Recent Experience: Code for America -->
      <p>
        <a target="_blank" href="http://codeforamerica.org">
          <img class="icon" src="{{ url_for('static', filename="images/logos/codeforamerica.jpg") }}">
        </a>
        <b>Code for America</b>
        <span class="right"><i>2014</i></span>
        <br>
        <b>Visual, UX and Interaction Designer, Non-Profit</b>
        <span class="right"><i>San Francisco, CA</i></span>
        <br>
        <br>
          <p class="resume-description">I partnered with the government of Puerto Rico to research and develop
          PrimerPeso.com - a tool that matches small business owners with available
          incentives. I conducted problem space research, user testing, and
          product development from start to finish. I designed the look and feel
          of the application from the product’s front-end implementation to the
          marketing materials.
        </p>
        <br>
        <span class="skill">HTML</span>
        <span class="skill">CSS</span>
        <span class="skill">Adobe Illustrator</span>
        <span class="skill">Sketch</span>
        <span class="skill">WebFlow</span>
        <span class="skill">User Research</span>
        <span class="skill">User Testing</span>
      </p>
      <br>
      <!-- Recent Experience: CirrusMio -->
      <p>
        <a target="_blank" href="http://cirrusmio.com">
          <img class="icon" src="{{ url_for('static', filename="images/logos/cirrusmio.png") }}">
        </a>
        <b>CirrusMio, Inc.</b>
        <span class="right"><i>2012-2014</i></span>
        <br>
        <b>User Experience and Visual Design, Startup</b>
        <span class="right"><i>Lexington, KY</i></span>
        <br>
        <br>
        <p class="resume-description">I created products for non-profits to receive
          donations and manage volunteers. I created user-interaction flows,
          art assets, worked on implementation, and marketing materials.
          I developed the branding and worked with the front-end team to
          prototype and develop CivicRush.com and CivChoice.com.
        </p>
        <br>
        <span class="skill">HTML</span>
        <span class="skill">CSS</span>
        <span class="skill">Adobe Illustrator</span>
      </p>
    </div>
  </div>

{% endblock%}
m
